/*
    Document   : w8.css
    Created on : 2015-06-08 05:21 PM
    Author     : jorgec
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}